html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* This is a comment */

body {
    font-size: 16px;
}

body#home {
    font-size: 24px;
}

img {
    width: 100%;
    height: auto;
}

.tweet {
    width: 100%;
    background: orange;
    border: 10px solid #000;
}

@media only screen and (min-width: 768px) {

    .tweet {
        width: 50%;
        padding: 5%;
        float: left;
    }

}


@media only screen and (min-width: 1024px) {

    .tweet {
        width: 31%;
    }

}